.minion {
	height: 100px;
	width: 100%;
	overflow: hidden;
}
.carousel-caption {
	height: 50px;
	overflow: hidden;
}
.glow {
	display: none;

}
.glow:hover {
	background-color: black;
	color: black;
	opacity: 10%;
	display: inline;
}